@model CISApps.Models.Searchs

@{
    ViewData["Title"] = "Gun";
    string d_none = "";
    if (string.IsNullOrEmpty(ViewData["error"]?.ToString() ?? "")) d_none = "d-none";
}

<div class="h1">
    ข้อมูลอาวุธปืน
</div>

<div class="card">
    <div class="card-header bg-light">
        <label class="form-label">เลขประจำตัวประชาชน</label>
        <input class="col-4 form-control" name="spid" value="@(Model?.people?.pop?.pid.ToString() ?? ((api.pid_test==0L)?"":api.pid_test.ToString()))" />
    </div>
    <div class="card-body" id="ckan">
        <div id="errorinfo" class="text-center bg-danger text-white rounded @d_none">
            @ViewData["error"]
        </div>
    </div>
</div>