################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

cis/obj/Debug/**
